* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

button:hover {
  opacity: 0.8;
}

/* NAVBAR SECTION ------------------------------------------------------------- */
.navbar {
  background: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  size: auto;
  border-bottom: 4px solid #5371f3;
}

#navbar__logo {
  background-color: #578AC1;
  background-image: linear-gradient(to top, #82ed74, #5371f3);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  padding-left: 3.3rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 5rem;
  padding: 1rem 1rem;
}

.navbar__links {
  color: #9AA7B2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
  font-weight: bold;
}

.navbar__login {
  padding: 2rem 1rem;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 40px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #5371f3;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  font-size: 1.2rem;
}

.navbar__links:hover {
  color: #578AC1;
  transition: all 0.3s ease;
}


/* HERO SECTION -------------------------------------------------------------- */
.hero {
  background: #fff;
  padding: 150px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  background-image: url("imgs/welcome.png");
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero2 {
  background: #fff;
  padding: 412px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  background-image: url("/imgs/welcome.png");
}
.hero__container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero__heading2 span {
  background: #fff;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
  position: relative;
  font-size: 100px;
  margin-bottom: 24px;
}
.hero__heading span {
  background: linear-gradient(to right, #82ed74, #5371f3); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
  position: relative;
  font-size: 100px;
  margin-bottom: 24px;
}

.hero__description {
  font-size: 60px;
  background: #5371f3;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  position: relative;
}

/* Changes video settings */
video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.video-wrapper {
  width: 400px;
  height: 200px;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ABOUT SECTION -------------------------------------------------------------*/
.main {
  background-color: #fff;
}

.circuitimg {
  height: 648px;
  width: 864px;
  margin: 0 auto;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  padding: 26rem 10rem 0rem 12rem;
}

.main__content {
  color: #000;
  width: 100%;
  padding: 0rem 3rem 0rem 3rem;
  text-align: center;
}

.main__content h1 {
  font-size: 3rem;
  background-color: #5371f3;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.main__content p {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 700;
}

/* Services Section */
.services {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 13rem 0;
}

.services h1 {
  background-color: #5371f3;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.services__card {
  margin: 10px;
  height: 500px;
  width: 375px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  transition: 0.3s ease-in;
}

.services__card:nth-child(1) {
  text-align: center;
  background-image: url('imgs/waterdroplet.png');
  background-size: 375px 500px;
}

.services__card:nth-child(2) {
  background-image: url('imgs/waterdroplet.png');
  background-size: 375px 500px;
}

.services__card:nth-child(3) {
  background-image: url('imgs/waterdroplet.png');
  background-size: 375px 500px;
}

.services__card:nth-child(4) {
  background-image: url('imgs/waterdroplet.png');
  background-size: 375px 500px;
}

.services__card h2 {
  font-size: 20px;
  text-align: center;
}

.services__card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.btn{
  display: inline-block;
  text-decoration: none;
  background: none;
  color: #000;
  font-weight: bold;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  line-height: 350px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  padding: 0 50px 0 50px;
  transition: .4s;
}

.popup__wrapper{
  padding: 10rem 0rem 0rem 0rem;
}

.popup {
  margin: 70px auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.btn2{
  display: inline-block;
  text-decoration: none;
  background: none;
  color: #000;
  font-weight: bold;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  line-height: 350px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  padding: 0 50px 0 50px;
  transition: .4s;
}

.popup2 {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup2 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup2 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup2 .close:hover {
  color: #06D85F;
}
.popup2 .content {
  max-height: 30%;
  overflow: auto;
}

.btn3{
  display: inline-block;
  text-decoration: none;
  background: none;
  color: #000;
  font-weight: bold;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  line-height: 350px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  padding: 0 50px 0 50px;
  transition: .4s;
}

.popup3 {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup3 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup3 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup3 .close:hover {
  color: #06D85F;
}

.popup3 .content {
  max-height: 30%;
  overflow: auto;
}

.btn4{
  display: inline-block;
  text-decoration: none;
  background: none;
  color: #000;
  font-weight: bold;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  line-height: 350px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  padding: 0 50px 0 50px;
  transition: .4s;
}

.popup4 {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup4 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup4 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup4 .close:hover {
  color: #06D85F;
}

.popup4 .content {
  max-height: 30%;
  overflow: auto;
}

/* Footer CSS */
.footer__container {
  background-color: #131313;
  padding: 2rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.website__rights {
  color: #fff;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); 
  padding-top: 100px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; 
  border: none;
  width: 30%; 
  border-radius: .3rem;
}

input[type=username], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: .3rem;
  box-sizing: border-box;
}

span.psw {
float: right;
padding-top: 16px;
}

.loginbtn {
  background-color: #5371f3;
  color: #fff;
  padding: .5rem 1.3rem;
  margin: auto;
  border: none;
  cursor: pointer;
  width: auto;
  border-radius: .3rem;
}

.acctbtn {
  background-color: #04aa81;
  color: #fff;
  margin: auto;
  border: none;
  cursor: pointer;
  width: auto;
  padding: .5rem 1.3rem;
  border-radius: .3rem;
  text-align: center;
  float: center;
}

.cancelbtn {
  background-color: #b64e46;
  color: white;
  padding: .5rem 1rem;
  border: none;
  cursor: pointer;
  width: auto;
  margin: auto;
  float: right;
  border-radius: .3rem;
}

.divider {
  padding-top: 1rem;
}

hr {
  border: 1px solid #578AC1;
  border-radius: 1px;
}

.hr__wrapper {
  padding: .2rem;
}

.login__container {
  padding: 16px;
  border: #fff;
  border-radius: .3rem;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


/* CONTACT PAGE ------------------------------------------------------------*/

.contact {
  background-image: url('imgs/contact.jpeg');
  font-size: 15px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

:focus {
  outline: none; 
}

.contact__wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
}

.contact__inner {
  max-width: 758px;
  margin: auto;
  background: #ffffff;
  border-radius: 10px;
  padding: 77px 99px 87px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.contact__inner h3 {
  color: #578AC1;
  font-size: 45px;
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  position: relative;
  display: block;
  margin-bottom: 48px;
}

.form-group span {
  font-size: 15px;
  color: #578AC1;
  position: absolute;
  top: 11px;
  transition: all .2s ease;
  transform-origin: 0 0;
  cursor: text;
}

.form-group span.border {
  height: 2px;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 41px;
  transform: scaleX(0);
  transition: all .15s ease;
  background: #578AC1;
}

.form-control {
  color: #578AC1;
  border: none;
  border-bottom: 2px solid #578AC1;
  display: block;
  width: 100%;
  height: 43px;
  font-size: 15px;
  background: none;
}

.form-control:focus, .form-control:valid {
  border-bottom: 2px solid #578AC1;
}

.form-control:focus + span, .form-control:valid + span {
  transform: translateY(-22px) scale(0.8);
}

.form-control:focus + span + .border, .form-control:valid + span + .border {
  transform: scaleX(1);
}

textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact__submit {
  background-color: #578AC1;
  border: none;
  font-weight: 600;
  position: center;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 45px;
  width: 130px;
  margin: auto;
  opacity: 1;
  color: #fff;
}
  
.map-responsive{
  
  padding-bottom:50%;

  position: relative;

}

.map-responsive iframe{
  padding: 10rem 10rem 10rem 10rem;

  height:100%;

  width:100%;

  position: absolute;

}

.chart__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: .5rem 1rem 0rem 1rem;
  width: 95%;
  margin: auto;
}

.chart__card{
  border: 20px solid #fff;
}

.myWater__indicators h1 {
  color: #5371f3;
  padding: 100px 100px 100px 100px;
  text-align: center;
}

#table1 table, tr, td, th {
  border: 0;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

#table1 tbody tr:nth-child(odd) {
  background-color: #A3B9D2; 
}

#table1 tbody tr:nth-child(even) {
  background-color: #E7EDF3;
}